body {
  margin: 0;
  padding: 0;
  background-color: #FFF5EE;
  color: #333;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.content-wrapper {
    width: 1000px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.2);
    border-radius: 12px;
    background: #222522;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px; 
}


span.lower-text{
  font-weight: bold;
}

p{
 color: white;
}

.text-wrapper-1 {
    font-size: 20pt;
    text-align: left;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover; 
}

